$cell-color: #333;
$cell-header-color: #444;
$text-color: #ccc;

.table {
  border-collapse: collapse;
  width: 100%;

  &__row {
    background: $cell-color;
    &--selected {
      background: $cell-header-color;
    }
  }

  &__cell {
    white-space: nowrap;
    color: $text-color;
    text-align: left;
    user-select: none;
    cursor: pointer;
    padding: 20px 20px;
    border-bottom: 1px solid $cell-header-color;

    & > * {
      vertical-align: middle;
    }

    &--header {
      background: $cell-header-color;
      position: sticky;
      top: 0;
    }
  }
}
